# Project exclude paths
/customer/target/
/fraud/target/
/.idea/
/customer/customer.iml
/fraud/fraud.iml
/microservices.iml
/eureka-server/eureka-server.iml
/eureka-server/target/
/clients/clients.iml
/notification/notification.iml
/notification/target/
/clients/target/
/apigw/apigw.iml
